<h1>Customers</h1>
<ul class="customers-list">
  <% customers.forEach((customer)=> { %>
    <li class="customer-li">
      <a href="">
        <p><%- customer.customer_id %></p>
        <p><%- customer.first_name %> <%- customer.last_name %></p>
        <p><%- customer.email %></p>
        <p><%- customer.phone %></p>
      </a>
    </li>
    <% }); %>
</ul>