<h1>Customers</h1>
<ul class="customers-list">
  <% customers.forEach((customer)=> { %>
    <li class="customer-li">
      <div class="customer-info">
        <p><%= customer.customer_id %></p>
        <p><%= customer.first_name %> <%= customer.last_name %></p>
        <a href=""><%= customer.email %></a>
        <a href=""><%= customer.phone %></a>
        <button>Edit</button>
      </div>
      <form action="/customers/<%= customer.customer_id %>/edit" method="POST">
        <label>
          First Name:
          <input type="text" name="first-name" id="first-name" value="<%= customer.first_name %>">
        </label>
        <label>
          Last Name:
          <input type="text" name="last-name" id="last-name" value="<%= customer.last_name %>">
        </label>
        <label>
          Email:
          <input type="text" name="email" id="email" value="<%= customer.email %>">
        </label>
        <label>
          Phone:
          <input type="text" name="phone" id="phone" value="<%= customer.phone %>">
        </label>
        <button type="submit">Submit Changes</button>
      </form>
    </li>
    <% }); %>
</ul>