<h1>Customers</h1>
<ul class="customers-list">
  <% customers.forEach((customer)=> { %>
    <li class="customer-li">
      <p><%- customer.customer_id %></p>
      <p><%- customer.first_name %> <%- customer.last_name %></p>
      <a href=""><%- customer.email %></a>
      <a href=""><%- customer.phone %></a>
    </li>
    <% }); %>
</ul>