<h1>Products</h1>

<% if (selectedSupplier) { %>
  <div class="supplier-filter-notice">
    <p>Showing products from supplier: <%= selectedSupplier %>
    </p>
    <a href="/products">Show all products</a>
  </div>
<% } %>

<button>New Product</button>
<form action="/products/new" method="POST">
  <label>
    Name:
    <input type="text" name="name" id="name-new">
  </label>
  <label>
    Category:
    <input type="text" name="category" id="category-new">
  </label>
  <label>
    Supplier ID:
    <input type="text" name="supplier-id" id="supplier-id-new">
  </label>
  <label>
    Price:
    <input type="text" name="price" id="price-new">
  </label>
  <label>
    Stock Quantity:
    <input type="text" name="stock-quantity" id="stock-quantity-new">
  </label>
  <button type="submit">Add New Product</button>
</form>

<h2>Guitars</h2>
<%- include('components/productCardList', { targetCategory: 'guitar', supplierFilter: selectedSupplier }) %>

<h2>Cajons</h2>
<%- include('components/productCardList', { targetCategory: 'cajon', supplierFilter: selectedSupplier }) %>

<h2>Shoes</h2>
<%- include('components/productCardList', { targetCategory: 'shoe', supplierFilter: selectedSupplier }) %>

<h2>Traje de Flamenca</h2>
<%- include('components/productCardList', { targetCategory: 'traje-de-flamenca', supplierFilter: selectedSupplier }) %>

<%- contentFor('title') %> Products'